extends templates/default

block content
  
  h3='Pagina de inicio'
    if isAuthenticated
      p='Bienvenido  ' + user.nombre
    include templates/rainbow
    include templates/carousel
    include templates/video

                        
                        


                  

