.container
    .row
        .col-md-8
    
        h3 Las 100 Empresas más Importantes de México
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://www.youtube-nocookie.com/embed/aEdZzVTfhyE')
            .col-sm-